.home-container{
    background-color: #FF9688;
    overflow:auto;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.text-container{

    background-color:#FF9688;
    color: white;
    margin: 50px;
    padding: 0px;
     /* Take full height minus the margin */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    font-weight: bold;
}

.p1{
    margin: 0px;
  
}

.fake_code {
    border-top: 10px solid rgb(255, 254, 254);
    border-bottom: 2px solid rgb(255, 254, 254);
    border-left: 2px solid rgb(255, 254, 254);
    border-right: 2px solid rgb(255, 254, 254);
    background-color:#343344;
    color: white;
    width: 50%;
    min-width: 300px; /* Adjust according to your needs */
    margin: 40px auto; /* Auto margins for left/right to center block */
    padding: 20px;
    display: flex;
    align-items: left; /* Aligns items vertically in the center */
    justify-content: left; /* Aligns items horizontally in the center */
    word-wrap: break-word; /* add this line */
}


a {
    text-decoration: none;
     /* Adjust as needed */
  }
  

.code {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    color: #fc2fc5;
    
}

.variable {
    color: #1ffbff;
}

.string {
    color:#F9F871;
}

.comment{
    color: rgb(98, 237, 98);
}

